<div class="">
    <div class="bg-white">
      <section class="mx-auto grid max-w-screen-xl gap-y-4 gap-x-20 px-4 py-10 sm:px-10 lg:grid-cols-10">
        <h2 class="w-full text-3xl font-bold text-blue-700 sm:text-4xl lg:col-span-3">Terminos</h2>
  
        <div class="mr-20 text-gray-600 lg:col-span-5">
          <p class="mb-1 font-medium">Resumen</p>
          <p class="text-justify">Al acceder y utilizar este sitio web, el usuario acepta cumplir con los Términos y Condiciones establecidos, que incluyen el uso del contenido solo para fines informativos y educativos. Se protege la propiedad intelectual del sitio, y el uso no autorizado de su contenido está prohibido. El sitio puede actualizar o modificar estos términos sin previo aviso, y cualquier cambio entrará en vigor inmediatamente. El acceso al sitio puede ser suspendido si se incumplen las normas.</p>
        </div>
        <div class="lg:col-span-2">
          <p class="font-medium">Descargar</p>
          <a href="#" class="font-medium text-blue-600">.pdf</a>
        </div>
      </section>
    </div>
    <div class="bg-gray-100">
      <section class="mx-auto grid max-w-screen-xl gap-y-4 gap-x-20 border-b border-gray-300 px-4 py-10 sm:px-10 lg:grid-cols-10">
        <h2 class="w-full text-3xl font-bold text-gray-800 sm:text-4xl lg:col-span-3">Políticas de privacidad
        </h2>
        <div class="mr-20 text-gray-600 lg:col-span-5">
          <p class="mb-1 font-medium">Resumen</p>
          <p class="text-justify">El sitio web se compromete a proteger la privacidad de los usuarios, y la información personal solo será utilizada para los fines especificados. Se garantizará que los datos no sean compartidos con terceros sin el consentimiento del usuario, salvo por razones legales.</p>
        </div>
        <div class="lg:col-span-2">
          <p class="font-medium">Descargar</p>
          <a href="#" class="font-medium text-blue-600">.pdf</a>
        </div>
      </section>
    </div>
    <div class="bg-gray-100">
      <section class="mx-auto grid max-w-screen-xl gap-y-4 gap-x-20 px-4 py-10 sm:px-10 lg:grid-cols-10">
        <h2 class="w-full text-3xl font-bold text-gray-800 sm:text-4xl lg:col-span-3">Conducta del Usuario</h2>
  
        <div class="mr-20 text-gray-600 lg:col-span-5">
          <p class="mb-1 font-medium">Resumen</p>
          <p class="text-justify">El usuario debe utilizar el sitio web de manera responsable y ética, absteniéndose de realizar actividades ilegales o perjudiciales. Está prohibido compartir contenido inapropiado, acceder sin autorización a áreas restringidas, o hacer un uso comercial no autorizado. Además, el usuario debe proporcionar información verídica y mantener la confidencialidad de sus datos de acceso. El incumplimiento de estas normas puede resultar en la suspensión del acceso al sitio.</p>
        </div>
        <div class="lg:col-span-2">
          <p class="font-medium">Descargar</p>
          <a href="#" class="font-medium text-blue-600">.pdf</a>
        </div>
      </section>
    </div>
  </div>
  