<div class="mt-24 mb-5 flex justify-center items-center fade-in">
    <iframe class="mt-24 rounded-lg w-full max-w-4xl h-[500px] bg-white"
        src="https://www.youtube.com/embed/aueX8zcN32Y?si=yfIftvI6u-m8s9xN" frameborder="0" title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<section class="mx-auto flex max-w-lg flex-col px-4 lg:max-w-screen-xl lg:flex-row fade-in mb-12 mt-12 fade-in">
    <div class="pr-20 lg:pt-28">
        <img class="w-full max-w-[900px] h-auto object-contain"
            src="https://img.freepik.com/vector-premium/ninos-jugando-entreteniendo-momentos-ilustracion-vectorial_1287274-35325.jpg?semt=ais_hybrid"
            alt="" />
    </div>
    <div class="">
        <h2 class="mb-10 max-w-lg text-4xl font-bold leading-snug lg:text-5xl lg:leading-snug">Actividades de <span
                class="text-yellow-300">Motricidad</span></h2>
        <div class="grid gap-y-12 gap-x-8 lg:grid-cols-2">
            <div class="bg-yellow-100 rounded-2xl">
                <p class="mb-6 border-l-4 border-yellow-400 pl-4 text-2xl leading-10 font-semibold">¿Qué son?</p>
                <p class="px-4 py-4 text-lg text-black text-justify">Son juegos que implican movimientos físicos, tanto
                    finos
                    como gruesos, para desarrollar habilidades motoras.</p>
            </div>
            <div>
                <p class="mb-6 border-l-4 border-yellow-400 pl-4 text-2xl leading-10 font-semibold">Beneficios</p>
                <p class="text-lg text-black text-justify">🌍 Mejoran la coordinación y el equilibrio.<br>
                    🌍 Desarrollan la fuerza y la destreza física.<br>
                    🌍 Fomentan la independencia y la confianza en el cuerpo.</p>
            </div>
            <div>
                <p class="mb-6 border-l-4 border-yellow-400 pl-4 text-2xl leading-10 font-semibold">Actividades
                    Sugeridas</p>
                <p class="text-lg ttext-black text-justify"><b>✅Circuitos de Obstáculos:</b> Crear un recorrido con
                    diferentes
                    desafíos físicos (saltar, trepar, arrastrarse) para que los niños lo completen.<br>
                    <b>✅Juegos de Lanzamiento:</b> Utilizar pelotas o aros para que los niños practiquen lanzar y
                    atrapar.<br>
                    <b>✅Bailes y Coreografías:</b> Enseñar movimientos de baile simples para mejorar la coordinación y
                    el ritmo.
                </p>
            </div>
            <div class="bg-yellow-100 rounded-2xl">
                <p class="mb-6 border-l-4 border-yellow-400 pl-4 text-2xl leading-10 font-semibold">Juego Relacionado
                </p>

                <a href="https://v4.brainhq.com/?signup=success&fr=y#train/visual_scan/0/0/0/eyJjb21wbCI6eyJhIjpbIjEiLCJbXSIsIjAiLCIxIl0sImYiOiJmdHV4X3N0YXJfY3JpdCJ9LCJjdHgiOiJ0cmFpbmVyIiwicHRoIjp7ImV4IjoidmlzdWFsX3NjYW4iLCJncmlkIjowLCJ4IjowLCJ5IjowfSwicmVmIjpbMCwwXSwicmVwcyI6MCwidDAiOiIxNzM4MDI2NzM2IiwidGhyZXNoIjpudWxsfQ=="
                    target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/5930/5930147.png" alt="Imagen del juego"
                        class="mb-4 w-40 mx-auto">
                </a>

                <a href="https://v4.brainhq.com/?signup=success&fr=y#train/visual_scan/0/0/0/eyJjb21wbCI6eyJhIjpbIjEiLCJbXSIsIjAiLCIxIl0sImYiOiJmdHV4X3N0YXJfY3JpdCJ9LCJjdHgiOiJ0cmFpbmVyIiwicHRoIjp7ImV4IjoidmlzdWFsX3NjYW4iLCJncmlkIjowLCJ4IjowLCJ5IjowfSwicmVmIjpbMCwwXSwicmVwcyI6MCwidDAiOiIxNzM4MDI2NzM2IiwidGhyZXNoIjpudWxsfQ=="
                    target="_blank"
                    class="flex items-center justify-center bg-yellow-400 text-white p-4 rounded-lg hover:bg-yellow-600">
                    <i class="fas fa-paint-brush mr-2"></i> Jugar
                </a>

            </div>
        </div>
    </div>
</section>
<div class="flex items-center justify-center mx-auto my-8 p-6 bg-white" *ngIf="!loading; else loadingTemplate">
    <a (click)="reenviar()"
        class="relative inline-block p-8 px-12 py-5 overflow-hidden font-medium text-indigo-600 rounded-lg shadow-2xl group">
        <span
            class="absolute top-0 left-0 w-48 h-48 -mt-10 -ml-6 transition-all duration-700 bg-red-500 rounded-full blur-md ease"></span>
        <span class="absolute inset-0 w-full h-full transition duration-700 group-hover:rotate-180 ease">
            <span class="absolute bottom-0 left-0 w-32 h-32 -ml-12 bg-purple-500 rounded-full blur-md"></span>
            <span class="absolute bottom-0 right-0 w-32 h-32 -mr-12 bg-pink-500 rounded-full blur-md"></span>
        </span>
        <span class="relative text-white">Descubrir</span>
    </a>
</div>
<ng-template #loadingTemplate>
    <app-loading></app-loading>
  </ng-template>