<div class="mt-24 mb-5 flex justify-center items-center fade-in">
    <iframe class="mt-24 rounded-lg w-full max-w-4xl h-[500px] bg-white"
        src="https://www.youtube.com/embed/EMy3WSg8hJo?si=oroTASsKFT-qxx3F" frameborder="0" title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<section
    class="mt-10 mb-10 mx-auto flex max-w-lg flex-col px-4 py-4 lg:max-w-screen-xl lg:flex-row fade-in bg-green-100 rounded-3xl">
    <div class="pr-20 lg:pt-28 fade-in">
        <img class="w-full max-w-[900px] h-auto object-contain"
            src="https://firebasestorage.googleapis.com/v0/b/softpochbot.appspot.com/o/senso%2F35d325f551f4a82b3198fbffc7c27029-removebg-preview.png?alt=media&token=84c98a64-4a9a-4b72-82c1-8a92ccf13d63"
            alt="" />
    </div>
    <div class="">
        <h2 class="mb-10 max-w-lg text-4xl font-bold leading-snug lg:text-5xl lg:leading-snug">Actividades <span
                class="text-green-500">Sensoriales</span></h2>
        <div class="grid gap-y-12 gap-x-8 lg:grid-cols-2">
            <div>
                <p class="mb-6 border-l-4 border-green-400 pl-4 text-2xl leading-10 font-semibold">¿Qué son?</p>
                <p class="text-lg text-black text-justify">Las actividades sensoriales estimulan los sentidos (vista,
                    oído,
                    tacto, gusto y olfato) para promover el aprendizaje y la exploración en los niños.</p>
            </div>
            <div>
                <p class="mb-6 border-l-4 border-green-400 pl-4 text-2xl leading-10 font-semibold">Beneficios</p>
                <p class="text-lg text-black text-justify"> 🚀 Mejoran la percepción sensorial. <br>
                    🚀 Fomentan la curiosidad y la exploración.<br>
                    🚀 Desarrollan habilidades cognitivas y motoras.<br>
                    🚀 Ayudan en la regulación emocional.</p>
            </div>
            <div>
                <p class="mb-6 border-l-4 border-green-400 pl-4 text-2xl leading-10 font-semibold">
                    Actividades Sugeridas
                </p>
                <p class="text-lg text-black text-justify">
                    <b>🔥 Exploración de Texturas:</b> Proporciona materiales con diferentes texturas (telas, esponjas,
                    papel de lija) para que los niños los toquen y describan.
                    <br>
                    <a href="https://www.youtube.com/shorts/GRYDL8lJQfw" target="_blank"
                        class="text-blue-600 underline">
                        Ver video de exploración de texturas
                    </a><br>
                    <b>🔥 Juegos de Sonidos:</b> Utiliza instrumentos musicales o grabaciones de sonidos para que los
                    niños identifiquen y reproduzcan sonidos.
                    <br>
                    <a href="https://www.youtube.com/watch?v=QSyK0t9yKIw" target="_blank"
                        class="text-blue-600 underline">
                        Ver video de juegos de sonidos
                    </a><br>
                    <b>🔥 Pintura con los Dedos:</b> Permite que los niños pinten usando los dedos, estimulando el
                    sentido del tacto y la creatividad.
                    <br><br>
                </p>
                <div class="mt-4">
                    <iframe width="420" height="280" src="https://www.youtube.com/embed/ltezjmLyiu8?si=CJ-fu1e5hy8oAnUY"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>

            <div>
                <p class="mb-6 border-l-4 border-green-400 pl-4 text-2xl leading-10 font-semibold">Juego Relacionado</p>

                <a href="https://quickdraw.withgoogle.com/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/5930/5930147.png"
                        alt="Imagen del juego" class="mb-4 w-40 mx-auto">
                </a>

                <a href="https://quickdraw.withgoogle.com/" target="_blank"
                    class="flex items-center justify-center bg-green-400 text-white p-4 rounded-lg hover:bg-green-600">
                    <i class="fas fa-paint-brush mr-2"></i> Jugar
                </a>

            </div>
        </div>
    </div>
</section>
<div class="flex items-center justify-center mx-auto my-8 p-6 bg-white" *ngIf="!loading; else loadingTemplate">
    <a (click)="reenviar()"
        class="relative inline-block p-8 px-12 py-5 overflow-hidden font-medium text-indigo-600 rounded-lg shadow-2xl group">
        <span
            class="absolute top-0 left-0 w-48 h-48 -mt-10 -ml-6 transition-all duration-700 bg-red-500 rounded-full blur-md ease"></span>
        <span class="absolute inset-0 w-full h-full transition duration-700 group-hover:rotate-180 ease">
            <span class="absolute bottom-0 left-0 w-32 h-32 -ml-12 bg-purple-500 rounded-full blur-md"></span>
            <span class="absolute bottom-0 right-0 w-32 h-32 -mr-12 bg-pink-500 rounded-full blur-md"></span>
        </span>
        <span class="relative text-white">Descubrir</span>
    </a>
</div>
<ng-template #loadingTemplate>
    <app-loading></app-loading>
</ng-template>