<footer class="bg-black">
    <div class="container flex flex-col items-center justify-between px-6 py-8 mx-auto lg:flex-row">
        <a href="*">
            <div class="flex items-center space-x-2">
                <img class="w-auto h-7" src="https://cdn-icons-png.flaticon.com/512/552/552395.png" alt="">
                <p class="text-xl text-gray-500">SensoCreat Kids</p>
            </div>
        </a>
        <div class="flex flex-wrap items-center justify-center gap-4 mt-6 lg:gap-6 lg:mt-0">
            <a href="#" class="text-sm text-gray-200 transition-colors duration-300 hover:text-blue-500 ">
                Terminos & Condiciones
            </a>
            <a href="#" class="text-sm text-gray-200 transition-colors duration-300 hover:text-blue-500 ">
                Política de privacidad
            </a>
            <a class="text-sm text-gray-200 transition-colors duration-300 hover:text-blue-500 ">
                |
            </a>
            <a href="https://www.facebook.com/lacentralec/" class="mx-2" aria-label="Reddit">
                <img class="w-5 h-5"
                    src="https://firebasestorage.googleapis.com/v0/b/softpochbot.appspot.com/o/Icons%2Ficon%20fb.png?alt=media&token=8652e5eb-9f6e-4f05-be22-914f74be6c64">
            </a>
            <a href="https://www.youtube.com/channel/UCBg2ksNwht164otsChyMhRA" class="mx-2" aria-label="Reddit">
                <img class="w-6 h-5"
                    src="https://firebasestorage.googleapis.com/v0/b/softpochbot.appspot.com/o/Icons%2Ficon%20youtibe.png?alt=media&token=ed9d1903-f568-43f6-b179-cf281c6bc6b9">
            </a>
            <a href="https://x.com/lacentralec?mx=2" class="mx-2" aria-label="Reddit">
                <img class="w-5 h-5"
                    src="https://firebasestorage.googleapis.com/v0/b/softpochbot.appspot.com/o/Icons%2Ficon%20x.png?alt=media&token=249c605e-bc99-4001-a66c-43272e11d87f">
            </a>
            <a href="mailto:michaelpaucar77@gmail.com.com" class="mx-2" aria-label="Correo Electrónico">
                <img class="w-5 h-5"
                    src="https://firebasestorage.googleapis.com/v0/b/softpochbot.appspot.com/o/Icons%2Ficon%20mail.png?alt=media&token=0f7c7c1f-d6c0-4bb8-b345-2273660d63c1">
            </a>
        </div>
        <p class="mt-6 text-sm text-gray-400 lg:mt-0">© Copyright 2025 SensoCreat Kids.</p>
    </div>
</footer>