<div class="mt-24 mb-5 flex justify-center items-center fade-in">
    <iframe class="mt-24 rounded-lg w-full max-w-4xl h-[500px] bg-white"
        src="https://www.youtube.com/embed/zqYq9ZTNRR4?si=GPCHZ7Llb_P1QQgO" frameborder="0" title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<section
    class="mx-auto flex max-w-lg flex-col px-4 py-4 lg:max-w-screen-xl lg:flex-row fade-in mb-12 mt-12 bg-violet-100 rounded-3xl fade-in">
    <div class="pr-20 lg:pt-28">
        <img class="w-full max-w-[900px] h-auto object-contain"
            src="https://firebasestorage.googleapis.com/v0/b/softpochbot.appspot.com/o/senso%2F3d-isometric-flat-vector-illustration-600nw-2424560177-removebg-preview.png?alt=media&token=c5396801-85e3-4c17-bb68-06d71e969b6c"
            alt="" />
    </div>
    <div class="">
        <h2 class="mb-10 max-w-lg text-4xl font-bold leading-snug lg:text-5xl lg:leading-snug">Actividades <span
                class="text-violet-500">Cognitivas</span></h2>
        <div class="grid gap-y-12 gap-x-8 lg:grid-cols-2">
            <div>
                <p class="mb-6 border-l-4 border-violet-400 pl-4 text-2xl leading-10 font-semibold">¿Qué son?</p>
                <p class="text-lg text-black text-justify">Actividades que estimulan procesos mentales como la memoria,
                    la
                    resolución de problemas y el pensamiento lógico.</p>
            </div>
            <div>
                <p class="mb-6 border-l-4 border-violet-400 pl-4 text-2xl leading-10 font-semibold">Beneficios</p>
                <p class="text-lg text-black text-justify">⚡Mejoran la atención y la concentración.<br>⚡Desarrollan
                    habilidades de resolución de problemas.<br>⚡Fomentan el pensamiento crítico y la creatividad.</p>
            </div>
            <div>
                <p class="mb-6 border-l-4 border-violet-400 pl-4 text-2xl leading-10 font-semibold">Actividades
                    Sugeridas</p>
                <p class="text-lg ttext-black text-justify"><b>✨Rompecabezas:</b> Resolver puzzles adecuados a la edad
                    para
                    estimular la lógica y la concentración.<br>
                    <b>✨Juegos de Memoria:</b> Utilizar cartas o imágenes para juegos que desafíen la memoria
                    visual.<br>
                    <b>✨Clasificación de Objetos:</b> Pedir a los niños que agrupen objetos según características
                    específicas
                    (color, forma, tamaño).
                </p>
            </div>
            <div>
                <p class="mb-6 border-l-4 border-violet-400 pl-4 text-2xl leading-10 font-semibold">Juego Relacionado
                </p>

                <a href="https://www.abcya.com/games/alphabet" target="_blank">
                    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiEb_olo7mp_IQuoPAijAAGFAMODESrBYnoWvADsxv8sxe4NTVbcBAwjO_CHP3EzL5TScPhVo1aFenjg4VD_BQbUzbN3e9fDHIRME8HM2Jky-WaLMRNUdd8JMbBeWHaaIsYQOGCT_cEFpTk/s1600/brainidea.gif"
                        alt="Imagen del juego" class="mb-4 rounded-full w-40 mx-auto">
                </a>

                <a href="https://www.abcya.com/games/alphabet" target="_blank"
                    class="flex items-center justify-center bg-violet-400 text-white p-4 rounded-lg hover:bg-violet-600">
                    <i class="fas fa-paint-brush mr-2"></i> Jugar
                </a>

            </div>
        </div>
    </div>
</section>
<div class="flex items-center justify-center mx-auto my-8 p-6 bg-white">
    <a routerLink="/formulario"
        class="relative inline-block p-8 px-12 py-5 overflow-hidden font-medium text-indigo-600 rounded-lg shadow-2xl group">
        <span
            class="absolute top-0 left-0 w-48 h-48 -mt-10 -ml-6 transition-all duration-700 bg-red-500 rounded-full blur-md ease"></span>
        <span class="absolute inset-0 w-full h-full transition duration-700 group-hover:rotate-180 ease">
            <span class="absolute bottom-0 left-0 w-32 h-32 -ml-12 bg-purple-500 rounded-full blur-md"></span>
            <span class="absolute bottom-0 right-0 w-32 h-32 -mr-12 bg-pink-500 rounded-full blur-md"></span>
        </span>
        <span class="relative text-white">Descubrir</span>
    </a>
</div>
<!-- <div class="iframe-container mx-auto my-8 p-6 bg-white rounded-lg shadow-lg">
    <iframe [src]="url" class="w-full h-96 rounded-lg" frameborder="0"></iframe>
</div> -->