<section>
    <section class="mt-24 mx-auto flex max-w-lg flex-col px-4 lg:max-w-screen-xl lg:flex-row fade-in">
        <div class="pr-20 lg:pt-28">
            <img class="w-[900px] h-[700px] object-contain" src="https://i.pinimg.com/736x/35/d3/25/35d325f551f4a82b3198fbffc7c27029.jpg" alt="" />
          </div>
           
        <div class="">
          <h2 class="mb-10 max-w-lg text-4xl font-bold leading-snug lg:text-5xl lg:leading-snug">Actividades <span class="text-green-300">Sensoriales</span></h2>
          <div class="grid gap-y-12 gap-x-8 lg:grid-cols-2">
            <div>
              <p class="mb-6 border-l-4 border-green-400 pl-4 text-2xl leading-10">¿Qué son?</p>
              <p class="text-lg text-black text-justify">Las actividades sensoriales estimulan los sentidos (vista, oído, tacto, gusto y olfato) para promover el aprendizaje y la exploración en los niños.</p>
            </div>
            <div>
              <p class="mb-6 border-l-4 border-green-400 pl-4 text-2xl leading-10">Beneficios</p>
              <p class="text-lg text-black text-justify"> • Mejoran la percepción sensorial. <br>
                • Fomentan la curiosidad y la exploración.<br>
                • Desarrollan habilidades cognitivas y motoras.<br>
                • Ayudan en la regulación emocional.</p>
            </div>
            <div>
              <p class="mb-6 border-l-4 border-green-400 pl-4 text-2xl leading-10">Actividades Sugeridas</p>
              <p class="text-lg ttext-black text-justify"><b>• Exploración de Texturas:</b> Proporcionar materiales con diferentes texturas (telas, esponjas, papel de lija) para que los niños los toquen y describan.<br>
                <b>• Juegos de Sonidos:</b> Utilizar instrumentos musicales o grabaciones de sonidos para que los niños identifiquen y reproduzcan sonidos.<br>
                <b>• Pintura con los Dedos:</b> Permitir que los niños pinten usando los dedos, estimulando el sentido del tacto y la creatividad.</p>
            </div>
            <div>
              <p class="mb-6 border-l-4 border-green-400 pl-4 text-2xl leading-10">Juego Relacionado</p>
              
              <a href="https://quickdraw.withgoogle.com/" target="_blank">
                <img src="https://gifdb.com/images/high/dj-capybara-playing-piano-yz3cdfu8fc55cdah.gif" alt="Imagen del juego" class="mb-4 rounded-full w-40 mx-auto">
              </a>
              
              <a href="https://quickdraw.withgoogle.com/" target="_blank" class="flex items-center justify-center bg-green-400 text-white p-4 rounded-lg hover:bg-green-600">
                <i class="fas fa-paint-brush mr-2"></i> Jugar
              </a>
              
            </div>
          </div>
        </div>
      </section>
      <section class="mx-auto flex max-w-lg flex-col px-4 lg:max-w-screen-xl lg:flex-row fade-in">
        <div class="pr-20 lg:pt-28">
            <img class="w-[900px] h-[700px] object-contain" src="https://img.freepik.com/vector-premium/ninos-jugando-entreteniendo-momentos-ilustracion-vectorial_1287274-35325.jpg?semt=ais_hybrid" alt="" />
          </div>
           
        <div class="">
          <h2 class="mb-10 max-w-lg text-4xl font-bold leading-snug lg:text-5xl lg:leading-snug">Actividades de <span class="text-yellow-300">Motricidad</span></h2>
          <div class="grid gap-y-12 gap-x-8 lg:grid-cols-2">
            <div>
              <p class="mb-6 border-l-4 border-yellow-400 pl-4 text-2xl leading-10">¿Qué son?</p>
              <p class="text-lg text-black text-justify">Son juegos que implican movimientos físicos, tanto finos como gruesos, para desarrollar habilidades motoras.</p>
            </div>
            <div>
              <p class="mb-6 border-l-4 border-yellow-400 pl-4 text-2xl leading-10">Beneficios</p>
              <p class="text-lg text-black text-justify">• Mejoran la coordinación y el equilibrio.<br>
                • Desarrollan la fuerza y la destreza física.<br>
                • Fomentan la independencia y la confianza en el cuerpo.</p>
            </div>
            <div>
              <p class="mb-6 border-l-4 border-yellow-400 pl-4 text-2xl leading-10">Actividades Sugeridas</p>
              <p class="text-lg ttext-black text-justify"><b>• Circuitos de Obstáculos:</b> Crear un recorrido con diferentes desafíos físicos (saltar, trepar, arrastrarse) para que los niños lo completen.<br>
                <b>• Juegos de Lanzamiento:</b> Utilizar pelotas o aros para que los niños practiquen lanzar y atrapar.<br>
                <b>• Bailes y Coreografías:</b> Enseñar movimientos de baile simples para mejorar la coordinación y el ritmo.</p>
            </div>
            <div>
              <p class="mb-6 border-l-4 border-yellow-400 pl-4 text-2xl leading-10">Juego Relacionado</p>
              
              <a href="https://v4.brainhq.com/?signup=success&fr=y#train/visual_scan/0/0/0/eyJjb21wbCI6eyJhIjpbIjEiLCJbXSIsIjAiLCIxIl0sImYiOiJmdHV4X3N0YXJfY3JpdCJ9LCJjdHgiOiJ0cmFpbmVyIiwicHRoIjp7ImV4IjoidmlzdWFsX3NjYW4iLCJncmlkIjowLCJ4IjowLCJ5IjowfSwicmVmIjpbMCwwXSwicmVwcyI6MCwidDAiOiIxNzM4MDI2NzM2IiwidGhyZXNoIjpudWxsfQ==" target="_blank">
                <img src="https://media.tenor.com/o2rlJc1PoLMAAAAi/dancin-monkey.gif" alt="Imagen del juego" class="mb-4 rounded-full w-40 mx-auto">
              </a>
              
              <a href="https://v4.brainhq.com/?signup=success&fr=y#train/visual_scan/0/0/0/eyJjb21wbCI6eyJhIjpbIjEiLCJbXSIsIjAiLCIxIl0sImYiOiJmdHV4X3N0YXJfY3JpdCJ9LCJjdHgiOiJ0cmFpbmVyIiwicHRoIjp7ImV4IjoidmlzdWFsX3NjYW4iLCJncmlkIjowLCJ4IjowLCJ5IjowfSwicmVmIjpbMCwwXSwicmVwcyI6MCwidDAiOiIxNzM4MDI2NzM2IiwidGhyZXNoIjpudWxsfQ==" target="_blank" class="flex items-center justify-center bg-yellow-400 text-white p-4 rounded-lg hover:bg-yellow-600">
                <i class="fas fa-paint-brush mr-2"></i> Jugar
              </a>
              
            </div>
          </div>
        </div>
      </section>
      <section class="mx-auto flex max-w-lg flex-col px-4 lg:max-w-screen-xl lg:flex-row fade-in">
        <div class="pr-20 lg:pt-28">
            <img class="w-[900px] h-[700px] object-contain" src="https://www.shutterstock.com/image-vector/3d-isometric-flat-vector-illustration-600nw-2424560177.jpg" alt="" />
          </div>
           
        <div class="">
          <h2 class="mb-10 max-w-lg text-4xl font-bold leading-snug lg:text-5xl lg:leading-snug">Actividades <span class="text-violet-300">Cognitivas</span></h2>
          <div class="grid gap-y-12 gap-x-8 lg:grid-cols-2">
            <div>
              <p class="mb-6 border-l-4 border-violet-400 pl-4 text-2xl leading-10">¿Qué son?</p>
              <p class="text-lg text-black text-justify">Actividades que estimulan procesos mentales como la memoria, la resolución de problemas y el pensamiento lógico.</p>
            </div>
            <div>
              <p class="mb-6 border-l-4 border-violet-400 pl-4 text-2xl leading-10">Beneficios</p>
              <p class="text-lg text-black text-justify">• Mejoran la atención y la concentración.<br>
                • Desarrollan habilidades de resolución de problemas.<br>
                • Fomentan el pensamiento crítico y la creatividad.</p>
            </div>
            <div>
              <p class="mb-6 border-l-4 border-violet-400 pl-4 text-2xl leading-10">Actividades Sugeridas</p>
              <p class="text-lg ttext-black text-justify"><b>• Rompecabezas:</b> Resolver puzzles adecuados a la edad para estimular la lógica y la concentración.<br>
                <b>• Juegos de Memoria:</b> Utilizar cartas o imágenes para juegos que desafíen la memoria visual.<br>
                <b>• Clasificación de Objetos:</b> Pedir a los niños que agrupen objetos según características específicas (color, forma, tamaño).</p>
            </div>
            <div>
              <p class="mb-6 border-l-4 border-violet-400 pl-4 text-2xl leading-10">Juego Relacionado</p>
              
              <a href="https://www.abcya.com/games/alphabet" target="_blank">
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiEb_olo7mp_IQuoPAijAAGFAMODESrBYnoWvADsxv8sxe4NTVbcBAwjO_CHP3EzL5TScPhVo1aFenjg4VD_BQbUzbN3e9fDHIRME8HM2Jky-WaLMRNUdd8JMbBeWHaaIsYQOGCT_cEFpTk/s1600/brainidea.gif" alt="Imagen del juego" class="mb-4 rounded-full w-40 mx-auto">
              </a>
              
              <a href="https://www.abcya.com/games/alphabet" target="_blank" class="flex items-center justify-center bg-violet-400 text-white p-4 rounded-lg hover:bg-violet-600">
                <i class="fas fa-paint-brush mr-2"></i> Jugar
              </a>
              
            </div>
          </div>
        </div>
      </section>
      <section class="mx-auto flex max-w-lg flex-col px-4 lg:max-w-screen-xl lg:flex-row fade-in">
        <div class="pr-20 lg:pt-28">
            <img class="w-[900px] h-[700px] object-contain" src="https://orchardcollege.cl/wp-content/uploads/2022/09/3935096-copia-1-1170x780.jpg" alt="" />
          </div>
           
        <div class="">
          <h2 class="mb-10 max-w-lg text-4xl font-bold leading-snug lg:text-5xl lg:leading-snug">Actividades de <span class="text-pink-300">Relajación</span></h2>
          <div class="grid gap-y-12 gap-x-8 lg:grid-cols-2">
            <div>
              <p class="mb-6 border-l-4 border-pink-400 pl-4 text-2xl leading-10">¿Qué son?</p>
              <p class="text-lg text-black text-justify">Ejercicios que ayudan a los niños a calmarse, reducir el estrés y mejorar la atención plena.</p>
            </div>
            <div>
              <p class="mb-6 border-l-4 border-pink-400 pl-4 text-2xl leading-10">Beneficios</p>
              <p class="text-lg text-black text-justify">• Reducen la ansiedad y el estrés.<br>
                • Mejoran la regulación emocional.<br>
                • Fomentan la atención plena y la concentración.</p>
            </div>
            <div>
              <p class="mb-6 border-l-4 border-pink-400 pl-4 text-2xl leading-10">Actividades Sugeridas</p>
              <p class="text-lg ttext-black text-justify"><b>• Ejercicios de Respiración:</b> Enseñar técnicas de respiración profunda para calmarse.<br>
                <b>• Mindfulness para Niños:</b> Guiar a los niños en actividades de atención plena, como observar un objeto y describirlo detalladamente.<br>
                <b>• Yoga Infantil:</b> Introducir posturas de yoga simples adaptadas para niños.</p>
            </div>
            <div>
              <p class="mb-6 border-l-4 border-pink-400 pl-4 text-2xl leading-10">Juego Relacionado</p>
              
              <a href="https://quickdraw.withgoogle.com/" target="_blank">
                <img src="https://media0.giphy.com/media/h4fim7zVYskrDEqvil/giphy.gif" alt="Imagen del juego" class="mb-4 rounded-full w-40 mx-auto">
              </a>
              
              <a href="https://quickdraw.withgoogle.com/" target="_blank" class="flex items-center justify-center bg-pink-400 text-white p-4 rounded-lg hover:bg-pink-600">
                <i class="fas fa-paint-brush mr-2"></i> Jugar
              </a>
              
            </div>
          </div>
        </div>
      </section>
</section>
